<script defer src="/js/_formVariations.js"></script>
<link rel="stylesheet" href="/style/_formVariations.css">

<form id="form-variations" method="post" class="form">
  <div class="form-group">
    <label class="label"> Título
      <input type="text" name="title" class="input" placeholder="Título de variação" <% if (locals.variation) { %>
      value="<%= variation.title %>" <% } %> />
    </label>

    <div id="variations">
      <div id="area-variations" class="area-variations">
        <label class="label"> Variações
          <input type="text" id="item-variations" class="input" placeholder="Nome de variação">
        </label>
        <button type="button" id="add-variations" class="button">Adicionar</button>
      </div>

      <div id="content-item-variations" class="content-item-variations">
        <% if (locals.variation && locals.variation.variations) { 
          variation.variations.map((item, index)=> { %>
          <div class="item-variations">
            <%- item %> <span class="fa fa-remove" data-remove="<%-index %>"></span>
          </div>
          <input type="hidden" name="variations" data-index="<%-index %>" value="<%-item %>">
        <% }) } %>
      </div>
    </div>
  </div>

  <br>

  <div class="content_button">
    <button id="button-submit" class="button">Salvar</button>
  </div>
</form>