<link rel="stylesheet" href="/style/table.css">

<main>
  <header class="content-header">
    <h2 class="sub-title">Variações de produto</h2>
    <a href="/admin/variation/create" class="decoration-none">
      <button class="button">Nova variação</button>
    </a>
  </header>

  <section>
    <% if(locals.variations) { variations.map((item, index)=> { %>
      <details class="details" data-details="<%= index %>">
        <summary>
          <div>
            <%- item.title %>
            <span class="fa fa-chevron-down" aria-hidden="true"></span>
          </div>
          <div class="action">
            <a href="/admin/variation/update/<%= item._id %>" class="link"><span class="fa fa-pencil"></span></a>
            <a href="/admin/variation/delete/<%= item._id %>" class="link"><span class="fa fa-trash icon-remove"></span></a>
          </div>
        </summary>
        <ul class="list-variations">
          <% item.variations.map(variations=> { %>
            <li>
              <%= variations.name %>
            </li>
          <% } ) %>
        </ul>
      </details>
      <% } ) } %>
  </section>
</main>


<script>
  document.onclick = (e) => {
    const el = e.target;

    if (el.dataset.details) {

    }
  }
</script>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .details {
    color: var(--text-color);
  }

  .list-variations li {
    padding: 5px 0;
  }

  summary {
    display: flex;
    justify-content: space-between;
    background: var(--input-bgcolor);
    padding: 0.4rem;
  }

  summary .action {
    display: flex;
    gap: 0.8rem;
  }

  .icon-remove {
    color: var(--error-color);
  }
</style>