<link rel="stylesheet" href="/style/_formProduct.css">
<script defer type="module" src="/js/_formProduct.js"></script>
<script defer src="/js/util/maskMoney.js"></script>

<form method="post" class="form">
  <div class="form-group">
    <label class="label"> Produto
      <input type="text" name="name" class="input" placeholder="Nome do produto" <% if (locals.product) { %>
        value="<%= product.name %>" <% } %> required/>
    </label>
  </div>

  <div class="form-group form-group--row">
    <label class="label"> Código
      <input type="text" name="code" class="input" placeholder="código de referência" <% if (locals.product) { %>
        value="<%= product.code %>" <% } %>/>
    </label>

    <label class="label"> Preço
      <input type="text" name="price-disp" class="input" oninput="maskMoney(event, 'price')" placeholder="R$ 0,00"
      <% if (locals.product) %> value="R$ <%= product.price %>" required />
      <input type="hidden" name="price" class="input" <% if (locals.product) %> value="<%= product.price %>" />
    </label>
  </div>

  <div class="form-group">
    <label class="label"> Descrição
      <textarea name="description" class="textarea" cols="30" rows="10"></textarea>
    </label>

    <label id="categories-area" class="label"> Categorias /
      <span class="btn-add-category" style="color: var(--link-color);"> Adicionar outra
        <span class="fa fa-circle-plus"></span>
      </span>

      <% if (locals.product.categories) { product.categories.map(category=> { %>
      <div style="display: grid; grid-template-columns: 1fr 30px; gap: 1rem; align-items: center;">
        <select name="categories" class="select">
          <option selected><%- category.title %></option>
          <% if (locals.categories) { categories.map(item=> { %>
            <option value="<%- item._id %>"><%- item.title %></option>
          <% }); } %>
        </select>
        <span class="fa fa-trash" aria-hidden="true"></span>
      </div>
      <% }); } %>
    </label>

    <label id="variation-area" class="label"> Variações do produto /
      <span class="btn-add-variation" style="color: var(--link-color);"> Adicionar outra
        <span class="fa fa-circle-plus"></span>
      </span>

      <div class="add-variations">
        <label class="label"> Variação
          <select name="variations" id="select-variation" class="select">
            <option selected disabled></option>
            <% if (locals.variation) { variation.map(item=> { %>
            <option value="<%- item._id %>"><%- item.title %></option>
            <% }); } %>
          </select>
        </label>

        <label class="label"> Nome da variação
          <select name="variationsItem" id="variations-item" id="select-variation-item" class="select">
            <option></option>
          </select>
        </label>

        <label class="label"> Preço
          <div style="display: flex; align-items: center; gap: 1rem">
            <input type="text" name="variationsPriceDisp" class="input"
              oninput="maskMoney(event, 'variationsPrice')" />
            <input type="hidden" name="variationsPrice" class="input">
            <span class="fa fa-trash"></span>
          </div>
        </label>
      </div>
    </label>
  </div>

  <div class="form-group">
    <label class="label"> Tags
      <input type="text" name="tags" class="input" autocomplete="on" />
    </label>

    <label class="label"> Link external
      <input type="text" name="linkExternal" class="input" autocomplete="on" />
    </label>

    <span class="label"> Fotos
      <section class="image-area">
        <% if (locals.product && locals.product.images) { product.images.reverse().map((image)=> {%>
          <div data-click="add-image" class="wrapper-preview wrapper-preview--image">
            <img src="<%= image.url %>" alt="" srcset="" class="preview">
            <span data-delete-image="true" data-image-id="<%= image.id %>" data-product-id="<%= product._id %>"
              class="button-close-img fa-solid fa-remove"></span>
          </div>
        <% }) } %>

        <label data-click="add-image" class="wrapper-preview">
          <input type="file" id="add-image" accept="image/*" class="input-image hidden">
        </label>
      </section>
    </span>
  </div>

  <div class="content_button">
    <button type="button" id="button-submit" class="button">Cadastrar</button>
  </div>
</form>


<style>
  .add-variations {
    margin-bottom: 0.5rem;
    display: grid;
    gap: 16px;
    padding: 5px 0 16px;
    color: #fff;
    border-bottom: 1px solid #cccccc;
  }

  @media only screen and (min-width: 768px) {
    .add-variations {
      align-items: center;
      grid-template-columns: repeat(2, 1fr) 0.7fr;
    }
  }
</style>