<link rel="stylesheet" href="/style/table.css">

<main>
  <header class="content-header">
    <h2 class="sub-title">Produtos</h2>
    <a href="/admin/product/create" class="decoration-none">
      <button class="button">Novo produto</button>
    </a>
  </header>

  <section class="wrapper-table">
    <table class="table">
      <thead>
        <tr>
          <td>Nome</td>
          <td>Código</td>
          <td>Preço</td>
          <td>Categoria</td>
        </tr>
      </thead>
      <tbody>
        <% product.map((item)=> { %>
          <tr>
            <td>
              <%- item._id %>
            </td>
            <td>
              <%- item.name %>
            </td>
            <td>
              <%= item.price.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %>
            </td>
            <td>
              <%- item.code %>
            </td>
            <td class="wrapper-actions">
              <a href="/admin/product/update/<%- item._id %>" class="fa fa-pen"></a>
              <a href="/admin/product/delete/<%- item._id %>" class="fa fa-trash"></a>
            </td>
          </tr>
          <% } ) %>
      </tbody>
    </table>
  </section>

  <div class="pagination">
    <span class="fa fa-chevron-left"></span>
    <% for( let index=0; index < pageInfo.pageSize; index++ ) { 
      let numberPage = index;
      numberPage++
    %>
      <div id="<%= index === pageInfo.pageCurrent ? 'page-current' : '' %>" class="wrapper_link-page">
          <a href="/admin/product/<%- index %>/limit/5" class="link-page">
            <%- numberPage %>
          </a>
      </div>
      <% } %>
        <span class="fa fa-chevron-right"></span>
  </div>
</main>

<style>
  .pagination {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--text-color);
  }

  #page-current {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: var(--custom-color);
  }

  .link-page {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color);
  }
</style>